body {
    text-align: center;
    position: relative;
    top: 200px;
    background-color: #b3c1c1;
}



.form {
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    display: inline-block;
    width: 25vmax;
    height: 15vmax;
}


#title-section{
    position: relative;
    right: 25px;
    top: 5px;
}


input {
    position: relative;
    left: 45px;
}

button {
    position: relative;
    right: 100px;
}
a {
    
    text-decoration:  none;
    color: black;
}