body {
    margin-top: 25px;
    background-color: #b3c0c1;
    text-align: center;
}

.wrapper {
    height: 100%;
    width: 1300px;
    display: inline-block;
    border: 1px solid black;
}
.tentative {
    width: 20%;
    display: inline-block;
    margin-right: 5px;
}
.process{
    width: 20%;
    display: inline-block;
    margin-right: 5px;

}
.complete{
    width: 20%;
    display: inline-block;
    margin-right: 5px;
}
.discard{
    width: 20%;
    display: inline-block;
    margin-right: 5px;
}




h4 {
    font-size: 25px;
}


.tasks {
    
    height: 5vmax;
    border: 2px solid black;
    max-height: 20vmax;
}


.headers {
    background-color: #b6bdbf;
    border-radius: 2px;
    height: 3vmax;
    text-align: center;
    
    
}

a {
    position: relative;
    top: 20px;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
    color: black;
}
.nav-bar{
    color: #ffff;
}