body {
    text-align: center;
    position: relative;
    top: 300px;
    background-size: cover;
}

.planner {

    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    display: inline-block;
    width: 20vmax;
    height: 15vmax;
}

input {
    display: inline-block;
    text-align: center;
}
.lgn-btn{
    border-radius: 5px;
    
}
