<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='view_task.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Task</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
        <h3><a href="/homepage" class="nav-btn">Homepage</a></h3>
        <h3><a href="/user/account" class="nav-btn" id="account">Account</a></h3>
        <h3><a href="/user/logout" class="nav-btn" id="logout">Logout</a></h3>
    </div>
    <div class="info-out">
        <h2>{{task.title}}</h2>

        <label>Description:</label><p>{{task.description}}</p>

        <label>Created:</label><p>{{task.created_at}}</p>
        <label >Last Updated:</label><p>{{task.updated_at}}</p>
        <label>Time since creation:</label><p>Hours: {{tcreated}}</p>
        <label>Time since update:</label><p>Hours: {{tupdate}}</p>
    </div>




    </div>    
</body>
</html
